SECRET_KEY=change-me-to-a-long-random-string


DATABASE_URL=postgresql://neondb_owner:npg_ga3LpiBh0bHm@ep-solitary-glade-b5dyerum-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Optional Cloudinary
CLOUDINARY_CLOUD_NAME=dmmrcq4ro
CLOUDINARY_API_KEY=617947781794296
CLOUDINARY_API_SECRET=cq1MsV1StApAWg6CLzoWad1SecE

ADMIN_EMAIL=admin@argonbhujel
ADMIN_PASSWORD=Argon_017
